:root {
    --main-width: 40ch;
    --golden-ratio: 1.61803;
    --side-width: calc(var(--main-width) / var(--golden-ratio));
    
    font-family: Inter;
    font-size-adjust: ch-width 0.5;
}

body {
    margin: 1rem 2rem 0 2rem;
}

body > div {
    width: min(100%, var(--side-width));
    height: min-content;
    margin: 0 auto;
}

main {
    width: min(100%, var(--main-width));
    margin: 0 auto;
}

@media (width > calc(40ch / 1.61803 + 40ch + 7rem)) {

    body {
        display: flex;
        column-gap: 3rem;
        justify-content: center;
    }

    body > div, main {
        margin: 0;
        /* the flex items become smaller than should be */
        flex-shrink: 0;
    }
    
    body > div {
        position: sticky !important;
        height: calc(40ch / 1.61803 + 25rem);
        /* outline: 1px solid red; */
    }    

    @media (height < calc(40ch / 1.61803 + 25rem)) {
        body > div {
            bottom: 0;
            align-self: flex-end;
        }
    }

    @media (height >= calc(40ch / 1.61803 + 25rem)) {
        body > div {
            top: 1rem;
            align-self: flex-start;
        }
    }
}

.skip-to-content {
    position: absolute;
    left: -9999px;
    z-index: 999;
    opacity: 0;
    
    padding: 0.25rem;
    border: 0.1875rem solid currentColor;
    outline: auto;
    text-align: center;
}
.skip-to-content:focus {
    position: relative;
    display: block;
    left: 0;
    z-index: 1;
    opacity: 1;
}

header figure, main blockquote {
    margin-left: 0;
    margin-right: 0;
}

header img {
    width: 100%;
    height: 100%;
    
    box-sizing: border-box;
    border-radius: 50%;
    border: 0.1875rem solid currentColor;
}

header h1 {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

header ul {
    margin-left: 1.6rem !important;
    margin-top: 0.5rem;
}

header figure {
    margin-bottom: 0.5rem;
}

a {
    color: currentColor;
    text-decoration: none;
}

nav a, main footer {
    text-transform: uppercase;
}

nav ul, main > * {
    list-style: none;
    padding-left: 0;
}

nav {
    border-top: 0.1875rem solid currentColor;
    border-bottom: 0.1875rem solid currentColor;
}

aside {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

aside input {
    left: -9999px;
    z-index: 999;
    opacity: 0;
    position: absolute;
}

input:focus-visible + label .checkbox-toggle{
    outline: auto;
}

aside label {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 0.5em;
    pointer-events: none;
}
label .checkbox-label-words {
    font-size: 1em;
}
.checkbox-toggle {
    width: 3.375em;
    height: 1.875em;
    padding: 0.3375em;
    border-radius: 3.375em;
    border: 0.125em solid currentColor;
    
    position: relative;
    
    cursor: pointer;
    pointer-events: all;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-shrink: 0;
}

.checkbox-toggle .ball {
    background-color: currentColor;
    width: 1.375em;
    height: 1.375em;
    position: absolute;
    left: 0.125em;
    top: 0.125em;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

input:checked + label .checkbox-toggle .ball {
    transform: translateX(1.5em);
}

/* dark mode toggle */
:root:has(#dark-mode-switch:checked) {
    color-scheme: dark;
    --background-color: black;
    background-color: var(--background-color);
    color: white;
}
:root:has(#dark-mode-switch:not(:checked)) {
    color-scheme: light;
    --background-color: #1c1b22;
    background-color: var(--background-color);
    color: white;
}

main blockquote {
    display: flex;
    flex-direction: column;
    margin: 4rem 0 4rem 0;
}

main footer {
    display: flex;
    align-items: center;
    order: -1;
}

main footer > span {
    user-select: none;
    white-space: pre;
}

main footer::after {
    flex: 1;
    content: '';
    padding: 0.5px;
    background-color: currentColor;
    margin-left: 0.3125rem;
}


/* form */
form {
    display: flex;
    flex-direction: column;
    padding: 0.75rem 0;
}

form input {
    left: -9999px;
    z-index: 999;
    opacity: 0;
    position: absolute;
}

form label, footer label {
    text-transform: uppercase;
    cursor: pointer;
}

form label:has(input:checked) {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0.5rem 0;
}

form label:has(input:focus-visible) {
    outline: auto;
}

body:has(#maths-filter:checked) li:has(label:not([for="maths-filter"])){
    display: none;
}
body:has(#science-filter:checked) li:has(label:not([for="science-filter"])){
    display: none;  
}
body:has(#programming-filter:checked) li:has(label:not([for="programming-filter"])){
    display: none;  
}
body:has(#engineering-filter:checked) li:has(label:not([for="engineering-filter"])){
    display: none;  
}
body:has(#projects-filter:checked) li:has(label:not([for="projects-filter"])){
    display: none;  
}

body:has(#all-filter:not(:checked)) li footer :not(time){
    display: none;  
}